body {
	margin: 0px;
	font-family: sans-serif;
	padding: 0px;
}

.cabecalho {
	background-image:  url(https://images.wallpaperscraft.com/image/skyscrapers_road_evening_120636_1366x768.jpg);
	height: 500px;
	margin: 0px;
	padding: 0px;
	border-bottom: 5px solid lightgray;
}

.cabecalho h1 {
	margin: 0px;
	padding: 0px;
	color: lightgray;
	position: absolute;
	top: 430px;
	left: 493px;
	height: 35px;
	width: 370px;
	border: 5px solid lightgray;
	
}

.menu {
	background-color: #283A3A;
	opacity: 0.3; 
}

.menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
	height: 40px;
}

.menu ul li {
	display: inline-block;
	color: lightgray;
}

.menu ul li a {
	display: inline-block;
	border-bottom: 3px solid #283A3A;
	color: lightgray;
	padding: 0px 10px;
	text-decoration: none;
	line-height: 37px;
}

.menu ul li a:hover {
    color: lightgray;
    border-bottom: 1px solid #4C4C53;
}

.box1 {
	float: left;
	width: 30%;
	margin-left: 0%;
	padding: 0px;
	color: lightgray;
}

.box2 {
	float: left;
	width: 40%;
	margin: 0px;
	padding: 0px;
	color: lightgray;
}

.box3 {
	padding: 0px;
	float: left;
	width: 30%;
	color: lightgray;
}

.fazemos {
	margin: 0px;
	padding: 0px;
	color: lightgray;
	background-color: #283A3A;
	border-bottom: 5px solid lightgray;
}

.fazemos h2 {
	height: 45px;
	color: lightgray;
	margin: 0px;
	padding: 0px;
}

#key {
	font-size: 120px;
	color: orange;
}

.checkin p {
	margin: 0px;
	padding: 0px;
}

.consul p {
	margin: 0px;
	padding: 0px;
}


.limp p {
	margin: 0px;
	padding: 0px;
}

#magic {
	font-size: 120px;
	color: orange;
}

#gift {
	font-size: 120px;
	color: orange;
}

.bigb {
	margin: 0px;
	padding: 0px;
	border-right-width: 150px;
	border-left-width: 150px;
	height: 314px;
}

.bigb2 {
	margin:0px;
	padding: 0px;
	border-right-width: 150px;
	border-left-width: 150px;
	height: 275px;
}

.perfil {
	margin: 0px;
	padding: 0px;
	background-color: #283A3A;
	color: lightgray;
	border-bottom: 5px solid lightgray;
}

.perfil h2 {
	margin: 0px;
	padding: 0px;
}

.icon1 {
	font-size: 120px;
	color: orange;
}

.perfilbox {
	width: 40%;
	margin: 0px;
	padding: 0px;
}

button.css3button {
	font-family: sans-serif;
	font-size: 14px;
	color: #f7f7f7;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#403e3b 0%,
		#3b3a36 25%,
		#2e2a29);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#403e3b),
		color-stop(0.25, #3b3a36),
		to(#2e2a29));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #383532;
	-moz-box-shadow:
		0px 1px 3px rgba(51,47,51,0.5),
		inset 0px -1px 0px rgba(54,50,54,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(51,47,51,0.5),
		inset 0px -1px 0px rgba(54,50,54,0.7);
	box-shadow:
		0px 1px 3px rgba(51,47,51,0.5),
		inset 0px -1px 0px rgba(54,50,54,0.7);
	text-shadow:
		0px -1px 1px rgba(51,47,51,0.2),
		0px 1px 0px rgba(56,52,56,0.3);
}

#but {
	margin: 0px;
	padding: 0px;
}

.ofertas {
	margin: 0px;
	padding: 0px;
	color: lightgray;
	background-color: #283A3A;
	border-bottom: 5px solid lightgray;
}

.ofertas h2 {
	margin: 0px;
	padding: 0px;
}

 ul {
    list-style-type:none;
    text-align:center;
    margin: 0px;
    padding: 0px;
    color: lightgray;
 }

 .ofertas ul li a {
 	text-decoration: none;
	color: #3D3D3D;
	color: lightgray;
 }

.ofertasbox {
	width: 40%;
	margin: 0px;
	padding: 0px;
}

.ofertasbox p {
	margin: 0px;
	padding: 0px;
}

#icon {
	font-size: 100px;
	color: orange;
}

.bigb3 {
	margin:0px;
	padding: 0px;
	border-right-width: 150px;
	border-left-width: 150px;
	height: 450px;
}

.informacoes {
	margin: 0px;
	padding: 0px;
	background-color: #283A3A;
	color: lightgray;
	border-bottom: 5px solid lightgray;
}

.informacoes h2 {
	margin: 0px;
	padding: 0px;
}

.bigb4 {
	margin: 0px;
	padding: 0px;
	border-right-width: 150px;
	border-left-width: 150px;
	height: 460px;
}

.rodape {
	margin: 0px;
	padding: 0px;
	background-color: #283A3A;
	color: lightgray;
	height: 20px;
}

.rodape h4 {
	margin: 0px;
	padding: 0px;
}