*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    font: 400 14px sans-serif;
    background: #0E0E0E;
    -webkit-font-smoothing: antialiased;
    align-items: center;
}

.header {
    background: #0E0E0E;
    color: #FFFFFF;
}

.headerImg {
    position: relative;
    display: inline-block;
    max-width: 1100px;
}

.headerMenu {
    display: flex;
    max-width: 1100px;
    height: 60px;
    background: #000000;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
}

.menu nav ul {
    list-style-type: none;
    display: flex;
}

.menu nav ul li {
    font-size: 20px;
    margin-left: 24px;
    overflow: hidden;
}

li a {
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
}

.b1 {
    background: #0E0E0E;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    color: #FFFFFF;
    font-weight: 500;   
    font-size: 24px;
    line-height: 60px;
    width: 300px;
    align-items: center;
    text-align: center;
}

#b1{
    position: absolute;
    top: 40%;
    left: 38%;
}

#b2{
    position: absolute;
    top: 60%;
    left: 38%;
}

.b1 a {
    text-decoration: none;
    color: #FFFFFF;
}